html,
body {
	font-family: $f-main, sans-serif;
	background-color: $c-background-body;
}
.workspace {
	position: relative;
   overflow: hidden;
   @include container($wrap-content);
   background: $c-white;
}
html {
	font-size: $fz-root + px;
	letter-spacing: normal;
	line-height: 1.3;
	color: $c-black;
}

* {
	box-sizing: border-box;
}
